<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="{{ background_class }}">
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        <ul class="message">
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <h2>Register</h2>
        <form action="{{ url_for('register') }}" method="post">
            <label for="nickname">Nickname:</label>
            <input type="text" id="nickname" name="nickname" required>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <label for="confirm_password">Confirm Password:</label>
            <input type="password" id="confirm_password" name="confirm_password" required>

            <label for="role">Role:</label>
            <select id="role" name="role" required>
                <option value="student">Student</option>
                <option value="teacher">Teacher</option>
            </select>

            <div id="teacher-info" style="display: none;">
                <label for="teacher_number">Teacher Number:</label>
                <input type="text" id="teacher_number" name="teacher_number">
                <label for="specialty">Specialty:</label>
                <select id="specialty" name="specialty">
                    {% for specialty in specialties %}
                    <option value="{{ specialty }}">{{ specialty }}</option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
    </div>
</body>
<script src="{{ url_for('static', filename='script.js') }}"></script>

</html>